html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

#home{
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.profile-pic{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: 30px auto;
    display: block;
    border: 5px solid #0f1010;
}
#about{
    
    background-color: #1e1e2f;
}
.description p{
   
    margin:50px;
    font-size: 20px;
    padding: 10px;

}

.card{
    transition: transform 0.3s ease;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.section-title{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.card:hover{
    transform: translateY(-10px);
}
#projects{
    
    padding: 20px;
}

#contact{
    background-color: #e8ebeb;

}
.contactform{
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
            
            width: 100%;
            max-width: 500px;
            margin: 20px;
            
        }

        label{
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            margin-top:20px;
            font-size: 16px;
        }

        #submit{
            background-color: #28a745;
            color: white;
             margin-top:20px;

        }
         #submit:hover{
            background-color: #218838;
        }
.btn{
    transition: 0.3s;
}
.btn-primary{
    background: linear-gradient(45deg, #0d6efd, #00b4d8);
    border: none;
}

.btn-primary:hover{
    transform: scale(1.05);
}

.btn:hover{
    transform: scale(1.05);
}
section{
    padding: 80px 0;
}

